* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    background-color: purple;
    height: 400px;
    width: 400px;
}

.child {
    background-color: bisque;
    height: 50%;
    width: 50%;
}

.parent:hover .child {
    transform: translateX(100%);
    animation: slide-around 3s linear infinite forwards;
}

@keyframes slide-around {
    0% {
        background-color: bisque;
        transform: translateX(0);
    }
    25% {
        transform: translateY(100%);
    }
    50% {
        transform: translateX(100%) translateY(100%);
    }
    75% {
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%) translateY(0%);
        border-radius: 50%;
    }
}


/* arrow */
.container {
    margin: 40px auto;
    max-width: 600px;
}
.arrow {
    text-align: center;
    margin: 200px 0;
}
p {
    font-size: 25px;
}
.arrow-anim {
    color: #00FF00;
    font-size: 50px;
    text-decoration: none;
    animation: bounce 2s alternate infinite;
}
@keyframes bounce {
    0%, 25%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(50px);
    }
}
